<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:name=".DogBreedsApplication"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/SplashTheme "
    tools:ignore="GoogleAppIndexingWarning"
    tools:targetApi="31">

    <activity
      android:name=".presentation.MainActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:theme="@style/Theme.DogBreedsApp">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />

      </intent-filter>

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:host="www.kodeco.android.dogbreedsapp" />
        <data android:scheme="https" />
      </intent-filter>
    </activity>

    <activity android:name="androidx.activity.ComponentActivity" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />


</manifest>